@font-face {
	font-family: Trial2;
	src: url(font/trial2-regular-webfont.woff);
}

@font-face {
	font-family: Montserrat;
	src: url(font/Montserrat-Regular.ttf);
}

.blog {
	padding: 50px 20px;
	text-align: left;
}

.blog .container {
	max-width: none;
}

.blog h1 {
	font-family: 'Trial2', 'League Spartan' !important;
}

.blog h2 {
	font-size: 35px;
	font-family: 'Trial2', 'League Spartan' !important;
}

.blog p {
	font-size: 16px;
	font-family: 'Montserrat', 'Libre Baskerville';
}

.blog a {
	color: #ef4a46;
}

.blog {
	padding: 0;
}

.blog .container {
	padding: 0;
}

.blog .contain {
	background: burlywood;
}

.blog .contain_2 {
	padding: 25px 100px;
}

@media (max-width: 787px) {
	.blog .contain_2 {
		padding: 25px 40px;
	}
}

/** HEADER **/
.blog .header {
	padding: 50px 120px;
}

.header {
	margin: 0;
}

.blog .header .blog_name {
	text-align: center;
	overflow-wrap: break-word;
}

.blog .header .blog_name h1 {
	font-size: 120px !important;
	color: #ffebe4 !important;
}

.blog .header .blog_title {
	margin-top: 100px;
	margin-bottom: 50px;
}

.blog .header .blog_title img {
	border-radius: 15px;
	float: right;
}

.blog .header .blog_title .title_desc {
	padding-left: 20px;
}

.blog .header .blog_title .title_desc h1 {
	color: #ffebe4 !important;
	font-size: 60px !important;
	line-height: 50px;
}

.blog .header .blog_title .title_desc p {
	margin-top: 10px;
}

@media (max-width: 787px) {
	.blog .header {
		padding: 10px 20px;
	}

	.blog .header .blog_name h1 {
		font-size: 100px !important;
	}

	.blog .header .blog_title .title_desc {
		margin-top: 10px;
	}

	.blog .header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 400px) {
	.blog .header .blog_name h1 {
		font-size: 80px !important;
	}
}

/** BANNER **/
.blog .banner img {
	width: 100%;
}

/** ARTICLE **/
.blog .article {
	background: #dfe6e9;
	padding: 30px 40px;
	border-radius: 20px;
	margin-top: 100px;
	box-shadow: 10px 10px 20px 0.5px #000000;
}

/** AJAKAN **/
.blog .ajakan {
	margin-top: 100px;
}

.blog .ajakan .row {
}

.blog .ajakan .title {
	margin-bottom: 35px;
}

.blog .ajakan .title h2 {
	font-weight: bold;
	color: #b23636;
	font-size: 45px;
	margin-bottom: 0;
}

.blog .ajakan .title hr {
	border-top: 5px solid #5c0808;
	width: 75px;
	display: inline-block;
	opacity: 1;
}

.blog .ajakan .row .col-md-4,
.blog .ajakan .row .col-lg-4 {
	padding: 0;
}

.blog .ajakan .card {
	background: rgba(255, 250, 170);
	margin: 10px;
	padding: 10px;
	box-shadow: 10px 10px 20px 0.5px #000000;
}

.blog .ajakan .card img {
	width: 250px;
	margin: auto;
	margin-top: 10px;
}

.blog .ajakan .card p {
	margin: auto;
	margin-top: 10px;
	text-align: center;
	padding: 20px;
	margin-bottom: 65px;
}

.blog .ajakan .card:hover {
	/** box-shadow: 5px 5px 10px 5px #ffaa81; **/
	box-shadow: 5px 5px 10px 5px #8db4b9;
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
}

@media (max-width: 767px) {
	.blog .ajakan .row {
		margin-left: 0;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
}

/** TESTIMONIAL **/
.testimonial {
	margin-top: 65px;
}

.testimonial .top {
	margin-left: 5px;
}

.testimonial .top h2 {
	font-weight: bold;
	color: #b23636;
	font-size: 50px;
	margin-bottom: 0;
}

.testimonial .top hr {
	border-top: 5px solid #5c0808;
	width: 75px;
	display: inline-block;
	opacity: 1;
}

.testimonial .top p {
	margin-top: 20px;
	padding: 5px;
}

.testimonial .bottom {
	margin-top: 20px;
}

.testimonial .bottom .item {
	padding: 15px 0px;
}

.testimonial .bottom .card {
	background: rgb(255, 255, 255);
	box-shadow: 0 0 10px #dfe6e9;
	margin: 0 15px;
	border: none;
}

.testimonial .bottom .card .content {
	padding: 30px;
}

.testimonial .bottom .card img {
	width: 120px;
	margin: auto;
}

.testimonial .bottom .card p {
	padding: 10px;
	margin: auto;
	text-align: center;
}

.testimonial .bottom .card .testi i {
	color: #b23636;
	margin: 0 5px;
}

.testimonial .bottom .card .name {
	text-align: center;
	margin-top: 30px;
}

.testimonial .bottom .card .profile {
	margin: auto;
	margin-top: 5px;
}

.testimonial .owl-nav {
	display: none;
}

.testimonial .owl-dots {
	text-align: center;
	margin-top: 10px;
}

.testimonial .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 0.2s ease;
	border-radius: 30px;
}

.testimonial .owl-dots .active span {
	background: url(../media/background/redbg.jpg);
}

@media (max-width: 767px) {
	.testimonial .bottom {
		margin-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.blog .blog_title {
		font-size: 90px;
	}
}

.contain_2 .article_2 {
	margin-top: 50px;
}

/** INTRO **/
.blog .contain_2 .intro {
	margin-bottom: 30px;
	padding: 0 10px;
	margin-top: 50px;
}

/** AUTHOR **/

.blog .contain_2 .author img {
	max-width: 100px;
	max-height: 100px;
	float: left;
	border-radius: 50%;
}

.blog .contain_2 .author p {
	margin-top: 45px;
	margin-left: 110px;
	margin-bottom: 0;
	font-size: 13px;
}

.blog .contain_2 .author .name {
	font-size: 14px;
	margin-top: 0;
	font-weight: bold;
}

.blog .contain_2 .author .date {
	font-size: 14px;
	color: #999;
	margin-top: 0;
	font-size: 12px;
}

@media (max-width: 767px) {
	.blog .contain_2 .author img {
		max-width: 85px;
		max-height: 85px;
	}

	.blog .contain_2 .author p {
		margin-top: 30px;
		margin-left: 95px;
	}
}


/** FUN FACT **/
.contain_2 .article_2 .fun_fact {
	margin-top: 40px;
}

.contain_2 .article_2 .fun_fact a {
	text-decoration: none;
}

.contain_2 .article_2 .fun_fact img {
	width: 100%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** TIPS **/
.contain_2 .article_2 .tips {
	margin-top: 90px;
}

.contain_2 .article_2 .tips img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	width: 100%;
}

/** REGISTER **/
.contain_2 .article_2 .register {
	margin-top: 40px;
}

.contain_2 .article_2 .register a {
	text-decoration: none;
}

.contain_2 .article_2 .register img {
	width: 100%;
	max-width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/** NAVIGATOR **/
.contain_2 .article_2 .navigator {
	margin-top: 90px;
}

.contain_2 .article_2 .navigator a {
	text-decoration: none;
}

/** EXAMPLE **/
.contain_2 .example {
	margin-top: 40px;
}

.contain_2 .example .row {
	margin-top: 20px;
}

.contain_2 .example img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	width: 100%;
	max-width: 600px;
	margin-bottom: 40px;
}

.contain_2 .example p {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 0;
}

.contain_2 .example .short_desc {
	text-align: left;
}

.contain_2 .example .samples {
	margin-top: 40px;
}

.contain_2 .example .samples a {
	text-decoration: none;
}

.contain_2 .example .samples .fac_name {
	font-family: 'Trial2';
	font-size: 35px !important;
}

/** STEPS (unused) **/
.contain_2 .step {
	margin-top: 20px;
}

.contain_2 .step .steps {
	padding: 25px 0;
}

.contain_2 .step .steps p {
	margin-top: 10px;
}

