@font-face {
    font-family: BLANCH_CONDENSED;
    src: url(font/BLANCH_CONDENSED.otf);
}

h1 {
    font-family: BLANCH_CONDENSED, monospace !important;
    font-size: 50px !important;
    color: black !important;
}

.divider {
    font-family: BLANCH_CONDENSED, monospace;
    font-size: 32px;
}

.covidPageTitle {
    margin-top: 35px;
    width: 100%;
    height: auto;
}

.contactmore {
    background: url("../media/background/redbg.jpg");
    padding-left: 50px;
    font-size: 32px;
    font-family: BLANCH_CONDENSED, monospace;
    text-align: left;
    color: #FAEEDE;
}

.contactContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.contactBox {
    text-align: center;
    margin: 10px 10px;
    padding: 0 15px;
    opacity: 0.85;
    flex: 0 1 300px;
    float: left;

}

.permika-logo {
    width: 75px;
    height: 100px;
}

.collapsible {
    background-color: #af3e40;
    color: #FAEEDE;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px;
    border-radius: 15px;
    font-family: GT, sans-serif;
    font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #A62F2F;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    width: 80%;
    margin: auto;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #FAEEDE;
    text-align: justify;
}

.faq_box {
    background-color: #FAEEDE;
    padding-top: 30px;
    padding-bottom: 30px;
}

ul.list_indent {
    list-style: circle;
    padding-left: 15px;
    text-align: justify;
}

ul.list_indent1 {
    list-style: square;
    padding-left: 15px;
    text-align: justify;
}

ol.list_indent {
    list-style: decimal;
    padding-left: 15px;
    text-align: justify;
}

li.list_indent {
    list-style-position: outside;
    text-align: justify;
}