@font-face {
    font-family: BLANCH_CONDENSED;
    src: url(font/BLANCH_CONDENSED.otf);
}

.title_descan {
    background-image: url("../media/descan2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 597px;
    position: relative;
}

.title {
    font-family: Helvetica, sans-serif;
    position: relative;
    top: 10%;
    font-size: 8vw;
    color: white;
}

.contactmore {
    background: url("../media/background/redbg.jpg");
    font-size: 32px;
    font-family: BLANCH_CONDENSED, monospace;
    text-align: left;
    color: #FAEEDE;
}

.timer {
    font-family: BLANCH_CONDENSED, monospace;
    font-size: 10vw;
    padding: 10px;
    position: absolute;
    top: 75%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.sponsor_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 50px 50px;
}

.collab_img {
    padding: 10px;
    width: 25%;
    flex-shrink: 3;
}

.sponsor_img {
    padding: 10px;
    width: 20%;
}

.rsvp {
    background: darkred;
    color: white;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .title_descan {
        height: 579px;
    }
}

@media (max-width: 700px) {
    .title_descan {
        height: 500px;
    }
    .sponsor_img {
        padding: 5px;
        width: 25%;
    }
    .sponsor_container {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .title_descan {
        height: 295px;
    }
}

@media (max-width: 420px) {
    .title_descan {
        height: 265px;
    }
}

@media (max-width: 380px) {
    .title_descan {
        height: 240px;
    }
}

.body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #FAEEDE;
    font-family: GT, sans-serif;
    font-size: 20px;
}

.time {
    font-weight: bold;
    color: darkred;
}

ul.list_indent {
    list-style: disc;
    text-align: justify;
    margin-left: 40px;
}

ul.rundown-list {
    list-style: none;
    text-align: justify;
    margin-left: 20px;
}

li {
    list-style-position: outside;
    text-align: justify;
}

.opening {
    font-family: "Verdana", sans-serif;
    font-size: 22px;
}

.collab_img {
    height: 300px;
    width: 250px;
}

