@font-face {
    font-family: BLANCH_CONDENSED;
    src: url(font/BLANCH_CONDENSED.otf);
}

.title_descan {
    background-image: url("../media/descan2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 597px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .title_descan {
        height: 250px;
    }

    .body {
        font-size: 14px;
    }
}

.title_container {
    margin: auto;
}

.title {
    position: relative;
    font-size: 10vw;
    color: black;
    top: 25%;
    font-family: BLANCH_CONDENSED, monospace;
}

.contactmore {
    background: url("../media/background/redbg.jpg");
    font-size: 32px;
    font-family: BLANCH_CONDENSED, monospace;
    text-align: left;
    color: #FAEEDE;
}

.timer {
    font-family: BLANCH_CONDENSED, monospace;
    font-size: 10vw;
    padding: 10px;
}

.collab_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.sponsor_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20px 20px;
}

.collab_img {
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.sponsor_img {
    padding: 10px;
    width: 20%;
}

.rsvp {
    background: darkred;
    color: white;
    margin-top: 20px;
}


.body {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #FAEEDE;
    font-family: GT, sans-serif;
    font-size: 20px;
}

.time {
    font-weight: bold;
    color: darkred;
}

ul.list_indent {
    list-style: disc;
    text-align: justify;
    margin-left: 40px;
}

ul.rundown-list {
    list-style: none;
    text-align: justify;
    margin-left: 20px;
}

li {
    list-style-position: outside;
    text-align: justify;
}

.opening {
    font-family: "Verdana", sans-serif;
}

.collab_img {
    height: 300px;
    width: 250px;
}

