@font-face {
	font-family: DIN;
	src: url(font/DIN.ttf);
}

img {
	max-width: 100%;
}

body {
	background-image: url(../media/indomie_bg.jpeg);
	color: white;
	font-size: 2vh;
	font-family: "Roboto";
	font-weight: bold;
}

h3 {
	font-size: 3vh;
}

b {
	text-decoration: underline;
}

ol li {
	list-style: decimal;
	text-align: left;
	overflow: visible;
}

a {
	color: yellow;
}

.content {
	margin: 5vh 10vw 5vh 10vw;
}

.content div {
	margin: 5vh 0 5vh 0;
}

#nav-placeholder {
	margin: 0;
}

.sponsorBox {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	display: flex;
}

.sponsorIcon {
	border: solid 4px black;
	width: 15%;
	flex: 0 1 15%;
	margin: 0.5%;
	background-color: white;
}

@media (max-width: 450px) {
	.sponsorIcon {
		width: 40%;
	}
}
