/*
GISAU Color Theme:
2B425F - Blue
5C3032 - Maroon
A62F2F - Red
C98524 - Ocare
CC9393 - Peach
FCEEE6 - Pink
*/

@font-face {
	font-family: DIN;
	src: url(font/DIN.ttf);
}

@font-face {
	font-family: BLANCH_CONDENSED;
	src: url(font/BLANCH_CONDENSED.otf);
}
.navbar {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#gisauBrand {
	font-family: BLANCH_CONDENSED, serif;
	font-size: 50px;
}

#gisauTabs li a {
	font-family: DIN, monospace;
	font-size: 16px;
	margin-top: 5px;
}
