@font-face {
font-family: DIN;
src: url(font/DIN.ttf);
}

@font-face {
font-family: BLANCH_CONDENSED;
src: url(font/BLANCH_CONDENSED.otf);
}

@font-face {
    font-family: GT;
    src: url(font/GTWalsheimRegular.ttf);
}

.teamPageTitle {
	width: 80vw;
	height: auto;
	margin-top: 40px;
	align-items: center;
	justify-content: center;
}

.teamPage {
    background: url("../media/redbg.jpg");;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;

}

.pageTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: BLANCH_CONDENSED;
	font-size: 63px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    padding: 60px 5px 30px;
    background: rgba(255,248,220,0.5);
    content: "";
    clear: both;
    border-radius: 25px;
}

.teamBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: left;
    width: 25%;
    height: auto;
}

.teamTitle{
    position: relative;
    top: 15px;
	/*padding: 20px 10px;
	display: block;*/
	text-align: center;
	justify-content: center;
	width: 219.2px;
	height: 66.8px;
	/*background: rgba(128,0,0,0.2);*/
	color: black;
	font-family: BLANCH_CONDENSED;
	font-size: 25px;
}

.teamTitle1{
	padding: 10px 10px;
	display: block;
	text-align: center;
	justify-content: center;
	width: 219.2px;
	height: 66.8px;
	/*background: maroon;*/
	color: black;
	font-family: BLANCH_CONDENSED;
	font-size: 25px;
}

.teamText {
    font-weight: bold;
	position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: GT;
    font-size: 25px;
}

.teamYear {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.teamPic {
    position: relative;
    float: left;
    width: 180px;
    border: solid black 2px;
}

.portrait {
    display: flex;
    width: 100%;
    height: auto;
}

.portraitgif {
    width: 167.18px;
    height: 222.85px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;
    color: black;
    opacity: 0;
    background: rgba(255,255,255,0.4);
}

.teamPic:hover .overlay {
    opacity: 1;
}

.teamPic:hover .portrait {
    opacity: 0.4;
}

.teamPic:hover .overlay1 {
    opacity: 1;
}


@media (max-width: 550px){
    /*.teamPic, .portrait, .portraitgif, .overlay {
	    width: 200px;
	    height: auto;
    }*/
    .container {
        margin: 20px;
    }
    .portraitgif1 {
        width: 166.39px;
        height: 221.85px;
        bottom: 56px;
        right: 21px;
        position: relative;
    }

    .teamTitle {
    	font-size: 23px;
    	height: 75px;
    	top: 0;
    }

    .teamTitle1 {
       font-size: 14px;
    	height: 50px;
        top: 28px;
    }

    /*.teamText {
    	font-size: 12px;
    }*/

    .teamPageTitle {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 1000px){
    .teamBox {
        width: 33.3%;
    }
}

@media (max-width: 740px){
    .teamBox {
        width: 50%;
    }
}

@media (max-width: 440px){
    .teamBox {
        width: 100%;
    }
}